# Node
node_modules/
npm-debug.log
yarn-error.log

# Build
dist/
build/
out/
.cache/

backend/habitping-firebase-adminsdk-fbsvc-400edee1fd.json

# Env
backend/.env
frontend/.env
.env.local
.env.*.local

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Test
coverage/